* {
  padding: 0;
  margin: 0;
}

.nav {
  width: 1280px;
}
.nav_list {
  text-align: center;
  width: 1280px;
}
.nav__list-item {
  display: inline-block;
  margin: 31.5px 72px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 2.7px;
}

.nav__list-link {
  color: #ff0000;
  text-decoration: none;
}

.image {
  width: 1280px;
  display: block;
}

.content_header {
  margin: 49px 253px 38px 253px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.3px;

  color: #373737;
}

.container {
  margin: 0 auto;
  width: 1280px;
  text-align: center;
}
.content-text {
  margin: 28px 68px;
  width: 1140px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  /* text-align: center; */
  letter-spacing: 2.4px;

  color: #373737;
}
.button {
  display: block;
  margin: 66px 554.5px 42px 554.5px;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  border: none;

  background: #ff0000;
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.footer__text {
  display: inline-block;

  margin: 40px 105px 29px 712px;
  text-align: end;

  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;

  color: #373737;
}
